@using BB5

<div class="row">
    <div class="col-4">
        <Form Object="Properties"
              OnModified="@(() => StateHasChanged())" />
        <ClassBuilder OnClassUpdated="HandleStyleUpdate"/>
    </div>
    <div class="col-8">
        <div class="m-3">
            <Button Variant="@Properties.Variant"
                    Class="@ButtonClass"
                    Outline="@Properties.Outline"
                    Content="@(
                             Properties.ContentIsMarkup
                                 ? (MarkupString)Properties.Content
                                 : Properties.Content)" />
        </div>
    </div>
</div>