@using BB5
@using BB5.Models

<div class="row">
    <div class="col-4">
        <Form Object="@EditProperties"
              Submitted="@(ctx => Properties = ctx.Object)"
              AutoSubmit="@true" />
        <ClassBuilder OnClassUpdated="@(value => Class = value)" />
    </div>
    <div class="col-8">
        <div class="m-3">
            @{ var properties =
                   Properties as InputDateProperties
                   ?? new(); }
            <BB5.InputDate Size="@properties.Size"
                           Class="@Class"
                           ReadOnly="@properties.ReadOnly" />
        </div>
    </div>
</div>