@using BB5

<div class="row">
    <div class="col-4">
        <Form Object="@EditProperties"
              Submitted="@(ctx => Properties = ctx.Object)"
              AutoSubmit="@true" />
        <ClassBuilder OnClassUpdated="@(value => Class = value)" />
    </div>
    <div class="col-8">
        <div class="m-3">
            @{ var properties =
                   Properties as InputLabelProperties
                   ?? new(); }
            <InputLabel Class="@Class"
                        Content="@(
                                 properties.ContentIsMarkup
                                ? (MarkupString)properties.Content
                                : properties.Content)" />
            </div>
    </div>
</div>