<form @onsubmit:preventDefault
      @onsubmit="HandleSubmitAsync"
      @attributes="@FormAttributes">
    @if (!string.IsNullOrEmpty(Error))
    {
        <Alert Class="mb-3"
               Content="Error"
               Color="AlertColor.Warning"
               Dismissible="@true"
               Dismissed="@(() => Error = null)"/>
    }

    @GetControlsTemplate()(Model.ToList())

    @if (Actions != null || !AutoSubmit)
    {
        <div class="mb-3">
            @Actions
            @if (!AutoSubmit)
            {
                <Button OnClick="@HandleSubmitAsync"
                        Variant="ButtonVariant.Primary"
                        Content="@SubmitContent"/>
            }
        </div>
    }
</form>